<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Debug builds only: lets adb run the test tool while the app is in the background. -->
        <receiver
            android:name=".debug.TestToolReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="ai.yumi.android.debug.RUN_TEST_TOOL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
